@page
@model EcommerceWebApp.Areas.Admin.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].PaymentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
            </th>
            <th>
                <a asp-page="./Index" asp-route-orderBy="created_at">@Html.DisplayNameFor(model => model.Order[0].OrderDate)</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-orderBy="updated_at">@Html.DisplayNameFor(model => model.Order[0].UpdatedAt)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>
    Page @(Model.PaginationFilter.PageNumber > Model.PaginationFilter.TotalPages ? 0 : Model.PaginationFilter.PageNumber) of @Model.PaginationFilter.TotalPages
</p>

@{
    var prevDisabled = !Model.PaginationFilter.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginationFilter.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-orderBy="@Model.CurrentSort"
   asp-route-pageNumber="@(Model.PaginationFilter.PageNumber - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-orderBy="@Model.CurrentSort"
   asp-route-pageNumber="@(Model.PaginationFilter.PageNumber + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>